<section class="home">
    <img src="../../project_rush/public/assets/almost.jfif" alt="Almost a hero" class ='img1'>
    <img src="../../project_rush/public/assets/another.jfif" alt="Another Eden" class ='img2'>
    <img src="../../project_rush/public/assets/arcade.jfif" alt="Arcade Hunter" class ='img3'>
    <img src="../../project_rush/public/assets/bullet.jfif" alt="Bullet League" class ='img4'>
    <img src="../../project_rush/public/assets/cruse.jfif" alt="Curse of Aros" class ='img5'>
    <img src="../../project_rush/public/assets/dragon.jfif" alt="Dragon Vale" class ='img6'>
    <img src="../../project_rush/public/assets/king.jfif" alt="King of Thieve" class ='img7'>
    <img src="../../project_rush/public/assets/rocky.jfif" alt="Rocky Rampage" class ='img8'>
</section>